---
name: Deployment lifecycle

on: ['deployment']

jobs:
  destroy-environment:
    if: github.event.deployment.task == 'destroy-environment'
    runs-on: ubuntu-latest
    steps:
      - name: Update deployment status (in-progress)
        uses: chrnorm/deployment-status@releases/v1
        with:
          token: "${{ github.token }}"
          state: "in_progress"
          deployment_id: ${{ github.event.deployment.id }}
          description: ${{ github.event.deployment.description }}

      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"

      - name: Deploy fail
        run: exit 1

  destroy-status-update:
    if: always()
    needs: [destroy-environment]
    runs-on: ubuntu-latest
    steps:
      - name: Dump context
        env:
          _CONTEXT: ${{ toJson(needs.destroy-environment) }}
        run: echo "$_CONTEXT"
        
      - name: Update deployment status (inactive)
        if: needs.destroy-environment.result == 'success'
        uses: chrnorm/deployment-status@releases/v1
        with:
          token: "${{ github.token }}"
          state: "inactive"
          deployment_id: ${{ github.event.deployment.id }}
          description: ${{ github.event.deployment.description }}

      - name: Update Slack message with status (success)
        if: needs.destroy-environment.result == 'success'
        uses: fjogeleit/http-request-action@v1.4.1
        with:
          url: "${{ secrets.SLACK_BOT_URL }}/updates/${{ github.event.deployment.payload.msg_ts }}"
          method: POST
          data: '{"deploymentResult": "success"}'

      - name: Update deployment status (error)
        if: needs.destroy-environment.result == 'fail'
        uses: chrnorm/deployment-status@releases/v1
        with:
          token: "${{ github.token }}"
          state: "error"
          deployment_id: ${{ github.event.deployment.id }}
          description: ${{ github.event.deployment.description }}

      - name: Update Slack message with status (fail)
        if: needs.destroy-environment.result == 'fail'
        uses: fjogeleit/http-request-action@v1.4.1
        with:
          url: "${{ secrets.SLACK_BOT_URL }}/updates/${{ github.event.deployment.payload.msg_ts }}"
          method: POST
          data: '{"deploymentResult": "fail"}'

  deploy-environment:
    if: github.event.deployment.task == 'deploy-environment'
    runs-on: ubuntu-latest
    steps:
      - name: Update deployment status (in-progress)
        uses: chrnorm/deployment-status@releases/v1
        with:
          token: "${{ github.token }}"
          state: "in_progress"
          deployment_id: ${{ github.event.deployment.id }}
          description: ${{ github.event.deployment.description }}

      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"

#      - name: Initialize deployment status
#        uses: deliverybot/deployment-status@v1
#        with:
#          state: pending
#          token: ${{ github.token }}
#
#      - name: Checkout repo
#        uses: actions/checkout@v2
#
#      - name: Terraform Setup
#        uses: hashicorp/setup-terraform@v1
#
#      - name: Terraform Init
#        run: terraform init terraform/aws/environments/stage
#        env:
#          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
#          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
#
#      - name: Create staging environment
#        if: github.event.deployment.payload.operation == 'create'
#        run: terraform apply -auto-approve terraform/aws/environments/stage
#        env:
#          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
#          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
#
#      - name: Destroy staging environment
#        if: github.event.deployment.payload.operation == 'destroy'
#        run: terraform destroy -auto-approve terraform/aws/environments/stage
#        env:
#          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
#          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
#
#      - name: Activate deployment
#        if: success()
#        uses: deliverybot/deployment-status@v1
#        with:
#          state: success
#          token: ${{ github.token }}
#
#      - name: Fail deployment
#        if: failure()
#        uses: deliverybot/deployment-status@v1
#        with:
#          state: failure
#          token: ${{ github.token }}

  update-status:
    needs: [deploy-environment, destroy-environment]
    runs-on: ubuntu-latest
    steps:
      - name: Update deployment status (active)
        if: needs.deploy-environment.result == 'success'
        uses: chrnorm/deployment-status@releases/v1
        with:
          token: "${{ github.token }}"
          state: "success"
          deployment_id: ${{ github.event.deployment.id }}
          description: ${{ github.event.deployment.description }}

      - name: Update deployment status (inactive)
        if: needs.destroy-environment.result == 'success'
        uses: chrnorm/deployment-status@releases/v1
        with:
          token: "${{ github.token }}"
          state: "inactive"
          deployment_id: ${{ github.event.deployment.id }}
          description: ${{ github.event.deployment.description }}

      - name: Update Slack message with status (success)
        if: needs.deploy-environment.result == 'success' || needs.destroy-environment.result == 'success'
        uses: fjogeleit/http-request-action@v1.4.1
        with:
          url: "${{ secrets.SLACK_BOT_URL }}/updates/${{ github.event.deployment.payload.msg_ts }}"
          method: POST
          data: '{"deploymentResult": "success"}'

      - name: Update deployment status (error)
        if: needs.deploy-environment.result == 'fail' || needs.destroy-environment.result == 'fail'
        uses: chrnorm/deployment-status@releases/v1
        with:
          token: "${{ github.token }}"
          state: "error"
          deployment_id: ${{ github.event.deployment.id }}
          description: ${{ github.event.deployment.description }}

      - name: Update Slack message with status (fail)
        if: needs.deploy-environment.result == 'fail' || needs.destroy-environment.result == 'fail'
        uses: fjogeleit/http-request-action@v1.4.1
        with:
          url: "${{ secrets.SLACK_BOT_URL }}/updates/${{ github.event.deployment.payload.msg_ts }}"
          method: POST
          data: '{"deploymentResult": "success"}'
